{% extends 'layout.html' %}

{% block content %}
  <h3>Add Course Review:</h3>
  {% from "includes/_formhelpers.html" import render_field %}
  <form action="{{url_for('upload')}}" method="POST">
    <div class="form-group">
      {{render_field(form.name, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.term, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.year, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.time, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.instructor, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.review, class_="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.rating, class_="form-control")}}
    </div>
    <p>
      <input type="submit" class="btn btn-primary" value="Submit">
    </p>
  </form>
{% endblock %}
