<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Course Reviews</title>
  </head>
    <style>
      body {
        background-color: #99CCFF;
      }
    </style>

  <body>
    <h3>Hw3 Course Review Site</h3>
    <a href="{{url_for('index')}}" style="margin-right: 50px;">Home</a>
    <a href="{{url_for('pages')}}" style="margin-right: 50px;">Reviews</a>
    <a href="{{url_for('addReview')}}" style="margin-right: 50px;">Add Review</a>
    {% block content %} {% endblock %}
  </body>
</html>
