{% extends 'layout.html' %}

{% block content %}
  <div class="jumbotron text-center">
    <h4>The following are anonymous course reviews from students:</h4>
    {% for review in reviews %}
        <td>{{'*** Review ***'}}</td><br>
        <td>{{'Course Name: '}}{{review.name}}</td><br>
        <td>{{'Term: '}}{{review.term}}</td><br>
        <td>{{'Year: '}}{{review.year}}</td><br>
        <td>{{'Time: '}}{{review.time}}</td><br>
        <td>{{'Instructor: '}}{{review.instructor}}</td><br>
        <td>{{'Review: '}}{{review.review}}</td><br>
        <td>{{'Rating: '}}{{review.rating}}{{' out of 5 stars'}}</td>
        <br><br>
    {% endfor %}
{% endblock %}
