{% extends 'layout.html' %}

{% block content %}
  <div class="jumbotron text-center">
    <h4>Welcome Wu-Chang Clan & others..</h4>
    <p class=lead> Want to read course reviews? </p>
    <a href="{{url_for('pages')}}">Click Here</a>
{% endblock %}
