<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Course Reviews</title>
  </head>
    <style>
      body {
        background-color: #99CCFF;
      }
    </style>

  <body>
    <h3>Hw2 Course Review Site</h3>
    {% block content %} {% endblock %}
  </body>
</html>
