{% extends 'layout.html' %}

{% block content %}
  <a href="{{url_for('index')}}">Home</a>
  <div class="jumbotron text-center">
    <h4>The following are anonymous course reviews from students:</h4>
    {% for review in reviews %}
        <td>{{'*** Review ***'}}</td><br>
        <td>{{'Course Name: '}}{{review[0]}}</td><br>
        <td>{{'Term: '}}{{review[1]}}</td><br>
        <td>{{'Year: '}}{{review[2]}}</td><br>
        <td>{{'Time: '}}{{review[3]}}</td><br>
        <td>{{'Instructor: '}}{{review[4]}}</td><br>
        <td>{{'Review: '}}{{review[5]}}</td><br>
        <td>{{'Rating: '}}{{review[6]}}{{' out of 5 stars'}}</td>
        <br><br>
    {% endfor %}
{% endblock %}
